@font-face {
    font-family: 'Adonais';
    src: url('adonais-webfont.woff2') format('woff2'),
         url('adonais-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baar Sophia';
    src: url('baars___-webfont.woff2') format('woff2'),
         url('baars___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('norse-webfont.woff2') format('woff2'),
         url('norse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}