@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?usxufp');
  src:  url('fonts/icomoon.eot?usxufp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?usxufp') format('truetype'),
    url('fonts/icomoon.woff?usxufp') format('woff'),
    url('fonts/icomoon.svg?usxufp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mbsablier:before {
  content: "\e909";
}
.icon-mbasterisk:before {
  content: "\e90a";
}
.icon-mbhand:before {
  content: "\e90b";
}
.icon-mbsurge:before {
  content: "\e90c";
}
.icon-mbaow:before {
  content: "\e908";
}
.icon-mb_card:before {
  content: "\e900";
}
.icon-mbbow:before {
  content: "\e901";
}
.icon-mbfeet:before {
  content: "\e902";
}
.icon-mbpawn:before {
  content: "\e903";
}
.icon-mbshield:before {
  content: "\e904";
}
.icon-mbsword:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-pencil:before {
  content: "\e907";
}
.icon-dice:before {
  content: "\e915";
}
.icon-book:before {
  content: "\e91f";
}
.icon-library:before {
  content: "\e921";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-compass:before {
  content: "\e949";
}
.icon-printer:before {
  content: "\e954";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}

