.clear {
    clear: both;
}

.pane {
    background-color: #fafafa;
    background:url(../img/texture_mur.jpg);
}

.bar {
    background: transparent;
    border-color: #3d2406;
    border-width: 0 0 0px 0;
    color: #3d2403;
}

.bar.bar-stable {
    border-color: #3d2406;
    background: #3d2406;
    /*background-color: #bd500d;*/
    /*background: url(../img/texture_tissu_web.jpg);*/
}

.bar.bar-stable h1 {
    font-family: "Adonais";
    text-transform: lowercase;
    position: absolute;
    right: 5px;
    top: 4px;
    display: block;
    width: auto;
    text-align: right;
    color: #ed8e1a;
    font-size: 15px;
    margin-top: 3px;
    line-height: 30px;
    font-weight: normal;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ion-nav-bar {
    background: #3d2406;
}

.title.header-item:before {
	content: '- ';
}

.title.header-item:after {
	content: ' -';
}

.title.header-item {
	font-family: "Baar Sophia";
	text-transform: uppercase;
	font-size: 17px;
}

.bar.bar-stable button {
    color: #fafafa;
}

.bar.bar-stable button:active,
.bar.bar-stable button:hover {
    color: #ed8e1a;
}

.bar.bar-stable button.button-left {
    left: 0;
}

ion-content {
    display: block;
}

ion-content:before {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
}

ion-content:after {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/geom_r.png) repeat-x;
    background-size: 15px;
    background-color: #9c4210;
    z-index: 5;
}

ion-side-menu.menu {
    background: #3d2406;
}

ion-side-menu.menu h2 {
    display: block;
    position: relative;
    font-family: "Adonais";
    text-transform: lowercase;
    width: 100%;
    background: #3d2406;
    color: #ed8e1a;
    padding: 12px;
    font-size: 18px;
}

ion-side-menu.menu h2:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    height: 20px;
    background: url(../img/geom_r.png) repeat-x;
    background-size: 15px;
    background-color: #9c4210;
}

ion-side-menu.menu ul {
    background: #fafafa;
    margin-top: 18px;
    position: relative;
}

ion-side-menu.menu ul li {
	padding: 0;
    font-size: 18px;
    border: solid #3d2406;
    border-width: 0 0 1px 0;
    background: url(../img/texture_mur.jpg);
}

ion-side-menu.menu ul li.coffee {
    background-color: #3d2406!important;
}

ion-side-menu.menu ul li a {
	display: block;
	padding: 15px;
    font-family: "Adonais";
    text-transform: lowercase;
    text-decoration: none;
    color: #3d2406;
}

ion-side-menu.menu ul li.coffee a {
    background-color: #3d2406!important;
    color: #fff;
}

ion-side-menu.menu ul li a:active {
    color: #000;
}

ion-side-menu.menu ul li a span {
    margin-right: 10px;
    margin-top: 0px;
    display: block;
    float: left;
}

ion-side-menu.menu ul li a span.right {
    float: none;
    display: inline-block;
    margin-right: 0;
    margin-left: 10px;
}

ion-side-menu.menu ul li.settings a span {
    margin-top: 1px;
}
ion-side-menu.menu ul li.termsofuse a span {
    margin-top: 0px;
}
ion-side-menu.menu ul li.glossary a span {
    margin-top: 0px;
}

ion-side-menu.menu ul:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    height: 20px;
    background: url(../img/geom_r.png) repeat-x;
    background-size: 15px;
    background-color: #9c4210;
}

.row.unlimited-items {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.unlimited-items .col {
    -webkit-flex: none;
    flex: none;
    width: 100%;
}

.bar.bar-stable.bar-footer {
    background-image: none;
    background-color: #3d2406;
    padding: 0;
    color: #fff;
}

.bar.bar-stable.bar-footer:before {
    content: '';
    position: relative;
    background: url(../img/geom_r.png) repeat-x;
    background-size: 15px;
    background-color: #9c4210;
    display: block;
    width: 100%;
    height: 21px;
}

.base_content,
.start_game,
.collection {
    padding-top: 44px;
}

/*.start_game {
    padding-top: 54px;
}*/

.collection .elem {
    margin-bottom: 15px;
}

.collection .set_name {
    position: relative;
    width: 100%;
    background: #32200a;
    padding: 10px;
    padding-right: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.collection .set_name h2 {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    /* font-family: "Adonais";
    text-transform: lowercase; */
    font-family: "Baar Sophia";
    color: #ed8e1a;
    font-size: 17px;
    padding-top: 5px;
}

.own_everything .set_name h2 {
	font-size: 14px;
	padding-top: 0px;
	width: 130px;
}

.collection .unit_name {
    font-family: "Baar Sophia";
    
}

.collection .unit_name strong {
    font-size: 17px;
    line-height: 29px;
}

.collection .unit_name .check,
.collection .set_name .check {
    display: block;
    float: left;
    cursor: pointer;
    margin-right: 10px;
    border: solid 1px #fff;
    width: 30px;
    height: 30px;
    line-height: 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    background: #3d2406;
}

.collection .unit_name .check {
    border-color: #fff;
}

.collection .set_name .check:active:after,
.collection .unit_name.active .check:after,
.collection .set_name.active .check:after {
    font-family: "icomoon";
    content : '\ea10';
    color: #fff;
    font-size: 20px;
    color: #ed8e1a;
}

.collection .set_name .expand {
    display: block;
    position: absolute;
    bottom: 6px;
    right: 10px;
    cursor: pointer;
}

.collection .set_name .expand:after {
    font-family: "icomoon";
    content: '\ea43';
    color: #ed8e1a;
    font-size: 30px;
}

.collection .set_name .expand.active:after {
    font-family: "icomoon";
    content: "\ea41";
    color: #ed8e1a;
}

.collection .set_name .image {
    display: block;
    width: 100%;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.collection .set_name .image img {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 0;
}

.collection .units_list {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.25s ease-out;
    -moz-transition: max-height 0.25s ease-out;
    transition: max-height 0.25s ease-out;
}

.collection .units_list.opened {
    max-height: 2000px;
    -webkit-transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in;
}

.warning {
    font-family: "Baar Sophia";
    padding: 15px;
    color: #fff;
    background: #32200a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.popup-body a,
.warning p a {
	color: #ed8e1a;
}

.warning.unit_pick {
    margin-bottom: 10px;
}

.warning h3 {
    color: #fff;
    font-family: "Baar Sophia";
    font-size: 20px;
}

.warning h4 {
	color: #fff;
	font-family: "Baar Sophia";
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.warning ul.cards_count li {
    margin-bottom: 5px;
    font-size: 15px;
}

.warning ul.cards_count li span {
    display: block;
    float: left;
    font-size: 16px;
    margin-right: 5px;
    margin-top: 1px;
}

.warning .ex_button {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.warning.patchnotes ul {
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}

.warning.patchnotes ul li {
	padding-left: 15px;
	margin-bottom: 7px;
	position: relative;
}

.warning.patchnotes ul li:before {
	content: "\f215";
	font-family: "Ionicons";
	display: block;
	position: absolute;
	font-size: 11px;
	left: 0;
	top: 0;
}

.warning.language_selection a.language {
	display: inline-block;
	color: #fff;
	padding: 5px 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	background: #9c4210;
	border-radius: 3px;
	cursor: pointer;
}

.warning.language_selection a.language.active {
	border: solid 1px #ed8e1a;
}

.myb_button {
    font-family: "Baar Sophia";
    display: block;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: #9c4210;
    padding: 5px 10px;
    border: solid 1px #ed8e1a;
    border-radius: 3px;
    cursor: pointer;
}

.myb_button:after {
    font-family: "icomoon";
    content: '\ea34';
    margin-left: 8px;
    font-size: 12px;
}

.warning.unit_pick .myb_button:after {
    content: '\ea0a';
}

.myb_button.myb_button_center {
    margin: 0 auto;
}

.warning .myb_button {
    background: #9c4210;
}

button.button.back-button {
    color: #3d2406;
    border: none;
    background: transparent;
}

button.button.back-button:before {
    font-family: "icomoon";
    content: '\ea38';
    font-size: 25px;
}

button.button.back-button span {
    display: none;
}

.wide_button {
    display: block;
    position: relative;
    text-decoration: none;
    font-family: "Baar Sophia";
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    /*border: solid 5px #3d2406;*/
    cursor: pointer;
    background-color: #3d2406;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    /* background-image: url(../img/texture_mur_grey2.png); */
    /* -moz-box-shadow: 0px 0px 5px 0px #000;
    -webkit-box-shadow: 0px 0px 5px 0px #000;
    -o-box-shadow: 0px 0px 5px 0px #000;
    box-shadow: 0px 0px 5px 0px #000; */
}

.wide_button.start.game_start,
.wide_button.addplayer {
    margin-bottom: 10px;   
}

.wide_button:after {
    font-family: "icomoon";
    content: '\ea0a';
    float: right;
    display: block;
    margin-top: -6px;
    padding: 5px;
    border: solid 2px #fff;
    border-radius: 50px;
}

.wide_button:active {
    background-color: #3d2406;
    color: #fff;
    border-color: #3d2406;
}

.wide_button:active:after {
    border-color: #fafafa;
}

.wide_button.start:after {
    content: '\e915';
}
.wide_button.cancel:after {
    content: '\e965';
}

.main_units_list h2 {
	position: relative;
    width: 100%;
    position: relative;
    text-align: center;
    font-family: "Adonais";
    text-transform: lowercase;
    font-size: 17px;
    border: solid #9c4210;
    border-width: 4px 0px 0px 0px;
    padding: 10px 0;
    margin-bottom: 0;
    color: #ed8e1a;
    background: #3d2403;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list span.resetIsotope {
	font-family: "icomoon";
	position: absolute;
	right: 10px;
	top: 5px;
	cursor: pointer;
	font-size: 22px;
	font-weight: normal;
}

.main_units_list h2:after,
.main_units_list h2:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: url(../img/greek_column2.png) no-repeat;
    background-position: left;
    background-size: contain;
    display: none;
}

.main_units_list h2:after {
    left: auto;
    right: 0;
    background-position: right;
}

.main_units_list .elem {
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 5px;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list .elem.unavailable {
    /*opacity: 0.5!important;*/
}

.main_units_list .elem .ctn {
    position: relative;
    border: solid 5px #000;
    color: #fff;
    font-family: "Baar Sophia";
    background-image: url(../img/texture_mur_grey.png);
    -moz-box-shadow: 0px 0px 5px 0px #000;
    -webkit-box-shadow: 0px 0px 5px 0px #000;
    -o-box-shadow: 0px 0px 5px 0px #000;
    box-shadow: 0px 0px 5px 0px #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    cursor: pointer;
}

.main_units_list.single_unit .elem .ctn {
    cursor: default;
}

.main_units_list .elem.cantafford .ctn:after,
.main_units_list .elem.unavailable .ctn:after {
    content: 'Not available';
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 20px;
    padding-top: 25px;
    font-family: "Baar Sophia";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list .elem.cantafford .ctn:after {
    content: "Not enough RP";
}

.main_units_list .elem.god .ctn {
    background-color: #b59325;
    border-color: #b59325;
}
.main_units_list .elem.titan .ctn {
    background-color: #005784;
    border-color: #005784;
}
.main_units_list .elem.hero .ctn {
    background-color: #8d8d8d;
    border-color: #8d8d8d;
}
.main_units_list .elem.monster .ctn {
    background-color: #265629;
    border-color: #265629;
}
.main_units_list .elem.troop .ctn {
    background-color: #a47341;
    border-color: #a47341;
}

.main_units_list .elem .image {
    width: 40%;
    min-height: 1px;
    float: left;
    padding-right: 0;
    display: block;
    overflow: hidden;
    background: rgba(0,0,0,0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list.single_unit .elem .image {
    width: 100%;
    padding-right: 0;
    font-weight: normal;
    margin-bottom: 5px;
}

.main_units_list .elem .image img {
    width: 100%;
    max-width: 320px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main_units_list .elem .info {
    float: left;
    width: 60%;
    background: rgba(0,0,0,0.3);
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.main_units_list.dashboard .elem .info {
    position: relative;
}

.main_units_list.dashboard .elem .info .evo_stats {
    position: relative;
    width: 260px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.main_units_list.dashboard.minidashboard .elem .info .evo_stats {
    width: 150px;
}

.main_units_list.dashboard.noninteractive .elem .info .evo_stats {
    padding-top: 40px;
}

.main_units_list.dashboard .elem .info .evo_stats .clip {
    width: 320px;
    height: 68px;
    display: block;
    position: absolute;
    left: -30px;
    top: 0;
    border: solid #000;
    border-width: 30px 30px 10px 30px;
    /* -webkit-transition: top 0.1s ease-in;
    -moz-transition: top 0.1s ease-in;
    transition: top 0.1s ease-in; */
}

.main_units_list.dashboard.noninteractive .elem .info .evo_stats .clip {
    left: 0;
    top: 2px;
    border-left:0;
    border-right: 0;
    border-bottom: 0;
    width: 260px;
}

.main_units_list.dashboard.noninteractive .elem .info .evo_stats.excerpt .clip {
	width: 200px;
}

.main_units_list.dashboard.minidashboard .elem .info .evo_stats .clip {
    width: 190px;
    border-width: 30px 20px 10px 20px;
    left: -20px;
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn {
    position: relative;
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn button {
    position: absolute;
    top: 1px;
    font-family: 'icomoon';
    background: transparent;
    border: none;
    padding: none;
    color: #fff;
    font-size: 16px;
    opacity: 0.9;
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn button.left {
    left: -28px;
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn button.right {
    right: -28px;
}

.main_units_list.dashboard.minidashboard .elem .info .evo_stats .clip .clip_ctn button.left {
    left: -23px;
}

.main_units_list.dashboard.minidashboard .elem .info .evo_stats .clip .clip_ctn button.right {
    right: -25px;
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn button.left:before {
    content: '\ea32';
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn button.right:before {
    content: '\ea36';
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons {
    position: absolute;
    left: 0;
    top: -29px;
    width: 100%;
    height: 28px;
    z-index: 5;
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons span {
    display: block;
    float: left;
    width: 40px;
    text-align: center;
    padding: 5px;
    font-family: 'icomoon';
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list.dashboard .elem .info .evo_stats.excerpt .clip .clip_ctn .stats_icons span {
	width: 30px;	
}

.main_units_list.dashboard.minidashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons span {
    width: 30px;
    font-size: 13px;
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons span.power {
    width: 60px;
}

.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons span.attack:before {
    content: "\e905";
}
.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons span.defense:before {
    content: "\e904";
}
.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons span.ranged:before {
    content: "\e901";
}
.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons span.movement:before {
    content: "\e902";
}
.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons span.power:before {
    content: "?";
    font-family: "Norse";
    font-size: 20px;
}
.main_units_list.dashboard .elem .info .evo_stats .clip .clip_ctn .stats_icons span.vitality:before {
    content: "\e9da";
}

.main_units_list.dashboard .elem .info .evo_stats .line {
    overflow: hidden;
    margin-bottom: 8px;
}

.main_units_list.dashboard .elem .info .evo_stats .line.dead h2 {
    background: transparent;
    color: #3d2406;
    border: none;
    font-size: 18px;
    padding: 0;
    padding: 5px;
    font-weight: normal;
    background: rgba(0, 0, 0, 0.1);
}

.main_units_list.dashboard .elem .info .evo_stats .line .stat {
    float: left;
    width: 40px;
    height: 30px;
    margin-bottom: 0;
    font-family: "Norse";
    font-size: 22px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list.dashboard .elem .info .evo_stats.excerpt .line .stat {
	width: 30px;
	font-size: 18px;
}

.main_units_list.dashboard.minidashboard .elem .info .evo_stats .line .stat {
    width: 30px;
    font-size: 15px;
}

.main_units_list.dashboard .elem .info .evo_stats .line .stat:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.2);
}
.main_units_list.dashboard .elem .info .evo_stats .line .stat:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.1);
}

.main_units_list.dashboard .elem .info .evo_stats .line .stat.power {
    padding-top: 0;
    padding: 0;
    width: 60px;
}

.main_units_list.dashboard .elem .info .evo_stats .line .stat span {
    display: inline-block;
    font-size: 13px;
    width: 20px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 1px solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list.dashboard .elem .info .evo_stats .line .stat span.dark {
    background: #000;
    color: #fff;
    border-color: #000;
}

.main_units_list.dashboard .elem .info .evo_stats .line .stat span.light {
    background: #fff;
    color: #000;
    border-color: #000;
}

.main_units_list.dashboard .elem .info .evo_stats .line .stat span.num {
    font-size: 15px;
}

.main_units_list.dashboard .elem .info .evo_stats .line .stat span.icon-mbsablier {
    font-weight: bold;
}

.main_units_list.dashboard .elem .info .evo_stats .line .stat i {
    color: #ed8e1a;
    font-weight: bold;
}

.main_units_list.dashboard .elem.troop .info .evo_stats .clip {
    border-color: #312a23;
}
.main_units_list.dashboard .elem.troop .info .evo_stats .line.dead h2 {
    color: #fff;
    background-color: #312a23;
}
.main_units_list.dashboard .elem.god .info .evo_stats .clip {
    border-color: #332e1e;
}
.main_units_list.dashboard .elem.god .info .evo_stats .line.dead h2 {
    color: #fff;
    background-color: #332e1e;
}
.main_units_list.dashboard .elem.hero .info .evo_stats .clip {
    border-color: #2e2e2e;
}
.main_units_list.dashboard .elem.hero .info .evo_stats .line.dead h2 {
    color: #fff;
    background-color: #2e2e2e;
}
.main_units_list.dashboard .elem.monster .info .evo_stats .clip {
    border-color: #202720;
}
.main_units_list.dashboard .elem.monster .info .evo_stats .line.dead h2 {
    color: #fff;
    background-color: #202720;
}
.main_units_list.dashboard .elem.titan .info .evo_stats .clip {
    border-color: #1a262c;
}
.main_units_list.dashboard .elem.titan .info .evo_stats .line.dead h2 {
    color: #fff;
    background-color: #1a262c;
}

.main_units_list.single_unit .elem .info {
    font-weight: normal;
    width: 100%;
}

.main_units_list .elem .info h3 {
    font-size: 18px;
    font-family: "Baar Sophia";
    color: #fff;
    margin: 0;
    margin-bottom: 5px;
}

.main_units_list.single_unit .elem .info h3,
.main_units_list.dashboard .elem .info h3 {
    text-align: center;
}

.main_units_list.single_unit .elem .info,
.main_units_list.dashboard .elem .info {
    text-align: center;
}

.main_units_list.single_unit .elem .info h3 {
    font-size: 24px;
}

.main_units_list .elem .stats {
    overflow: hidden;
}

.main_units_list.single_unit .elem .stats {
    margin-bottom: 10px;
    overflow: hidden;
}

.main_units_list .elem .stats div {
    float: left;
    padding: 0 6px;
    text-align: center;
    margin-right: 6px;
    margin-bottom: 5px;
    border: solid 1px #fff;
}

.main_units_list .elem .stats div i {
	color: #ed8e1a;
}

.main_units_list.single_unit .elem .stats div {
    display: inline-block;
    float: none;
    padding: 6px;
}

.main_units_list .elem .stats div:nth-of-type(even) {
    background: transparent;
}

.main_units_list .elem .stats div:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.15);
}

.main_units_list .elem .stats div span {
    display: block;
    font-family: "Norse";
    font-size: 15px;
}

.main_units_list.single_unit .elem .stats div span {
    font-size: 25px;
    padding-top: 10px;
}

.main_units_list .elem .stats div:before {
    font-family: "icomoon";
    content: '';
    width: 100%;
    text-align: center;
    border: solid #fff;
    border-width: 0 0 1px 0;
    padding-bottom: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list.single_unit .elem .stats div:before {
    font-size: 16px;
    padding-bottom: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list .elem .stats div.melee:before {
    content: '\e905';
}
.main_units_list .elem .stats div.defense:before {
    content: '\e904';
}
.main_units_list .elem .stats div.ranged:before {
    content: '\e901';
}
.main_units_list .elem .stats div.speed:before {
    content: '\e902';
}
.main_units_list .elem .stats div.speed:before {
    content: '\e902';
}
.main_units_list .elem .stats div.health:before {
    content: '\e9da';
}

.main_units_list .elem .cards {
    font-size: 20px;
    margin-bottom: 5px;
    padding-top: 7px;
}

.main_units_list .elem .cards span {
    display: block;
    float: left;
    margin-bottom: 5px;
}

.main_units_list.single_unit .elem .cards {
    margin-bottom: 15px;
}

.main_units_list.single_unit .elem .cards span {
    display: inline-block;
    float: none;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 8px;
    font-size: 26px;
}

.main_units_list .elem .cards span.icon-mbpawn {
    font-size: 18px;
    margin-right: -3px;
    margin-top: 1px;
}

.main_units_list.single_unit .elem .cards strong {
    font-size: 18px;
    display: block;
    font-weight: normal;
}

.main_units_list .elem .recruitment_cost {
    display: block;
    position: absolute;
    right: -6px;
    top: -6px;
    font-family: "Norse";
    font-size: 15px;
    padding: 2px 8px;
    background: #333;
    border: solid 2px #fafafa;
    border-radius: 50%;
    text-align: center;
    z-index: 3;
    -moz-box-shadow: 0px 0px 5px 0px #000;
    -webkit-box-shadow: 0px 0px 5px 0px #000;
    -o-box-shadow: 0px 0px 5px 0px #000;
    box-shadow: 0px 0px 5px 0px #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_units_list.single_unit .elem .recruitment_cost {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: left;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-family: "Baar Sophia";
    font-size: 16px;
    margin-bottom: 14px;
    box-shadow: none;
}

.main_units_list.single_unit .elem .recruitment_cost,
.main_units_list.single_unit.dashboard .elem .recruitment_cost {
    width: 100%;
    text-align: center;
}

.main_units_list .elem.god .recruitment_cost {
    border-color: #e8b526;
}
.main_units_list .elem.titan .recruitment_cost {
    border-color: #005784;
}
.main_units_list .elem.hero .recruitment_cost {
    border-color: #8d8d8d;
}
.main_units_list .elem.monster .recruitment_cost {
    border-color: #265629;
}
.main_units_list .elem.troop .recruitment_cost {
    border-color: #664c38;
}

.main_units_list .elem .unit_type {
	position: absolute;
	width: 28px;
	height: 30px;
	left: -7px;
	top: -7px;
	background: no-repeat;
	display: none;
	border: solid 2px #fafafa;
    border-radius: 50%;
    background: #eee;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.main_units_list.single_unit .elem .unit_type {
	position: relative;
	background-position: center center;
	width: 35px;
	height: 35px;
	display: none;
	margin: 0 auto;
}

.main_units_list .elem .unit_type.flying {
	display: block;
	background-image: url(../img/type_flying.png);
}
.main_units_list .elem .unit_type.aquatic {
	display: block;
	background-image: url(../img/type_aqua.png);
}
.main_units_list .elem .unit_type.fireproof {
	display: block;
	background-image: url(../img/type_fire.png);
}

.main_units_list .elem.god .unit_type {
    border-color: #e8b526;
}
.main_units_list .elem.titan .unit_type {
    border-color: #005784;
}
.main_units_list .elem.hero .unit_type {
    border-color: #8d8d8d;
}
.main_units_list .elem.monster .unit_type {
    border-color: #265629;
}
.main_units_list .elem.troop .unit_type {
    border-color: #664c38;
}

.main_units_list.single_unit .elem .powers,
.main_units_list.single_unit .elem .talents {
    margin-bottom: 15px;
    font-size: 16px;
}

.main_units_list.single_unit .elem .powers li {
	display: block;
	background: rgba(0, 0, 0, 0.2);
	padding: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main_units_list.single_unit .elem .powers h3,
.main_units_list.single_unit .elem .talents h3 {
    display: block;
    width: 100%;
    font-size: 20px;
    border: solid #fff;
    border-width: 0 0 1px 0;
}

.main_units_list.single_unit .elem .powers h5 {
	color: #fff;
	margin-bottom: 5px;
	font-size: 18px;
	font-family: "Baar Sophia";
}

.main_units_list.single_unit .elem .powers span {
	display: inline-block;
}

.main_units_list.single_unit .elem .powers h5 span {
	font-family: icomoon;
	padding: 0;
	font-size: 13px;
	margin-right: 5px;
	width: 20px;
	height: 25px;
	line-height: 23px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main_units_list.single_unit .elem .powers h5 span.light,
.main_units_list.single_unit .elem .powers h5 span.dark {
	border: solid 1px;
}

.main_units_list.single_unit .elem .powers h5 span.light {
	border-color: #000;
}
.main_units_list.single_unit .elem .powers h5 span.dark {
	border-color: #fff;
}

.main_units_list.single_unit .elem .powers h5 span.num.dark {
	border: none;
}

.main_units_list.single_unit .elem .powers h5 span.icon-mbaow,
.main_units_list.single_unit .elem .powers h5 span.icon-mb_card {
	font-size: 18px;
	margin-right: 3px;
	margin-left: -2px;
	padding: 0;
}

.main_units_list.single_unit .elem .powers div.desc {
	font-size: 15px;
    margin-bottom: 20px;
    padding-top: 5px;
    color: #ddd;
}

.main_units_list.single_unit .elem .powers div.desc p {
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.main_units_list.single_unit .elem .powers div.desc i {
	font-style: italic;
}

.main_units_list.single_unit .elem .powers div.desc b {
	font-weight: bold;
}

.main_units_list.single_unit .elem .powers div.desc strong {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main_units_list.single_unit .elem .powers div.desc span {
    font-family: icomoon;
    padding: 0 7px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 3px;
}

.main_units_list.single_unit .elem .powers span.dark {
	background: #000;
	color: #fff;
}

.main_units_list.single_unit .elem .powers span.light {
	background: #fff;
	color: #000;
}

.main_units_list.single_unit .elem .powers span.icon-mbsablier {
	font-weight: bold;
}
.main_units_list.single_unit .elem .powers h5 span.icon-mbasterisk,
.main_units_list.single_unit .elem .powers h5 span.icon-mbsurge {
	font-size: 16px;
}

.main_units_list.single_unit .elem .powers h5 span.stat,
.main_units_list.single_unit .elem .powers div.desc span.stat {
	background: rgba(0, 0, 0, 0.5);
	margin-left: 7px;
	padding: 0 5px;
	width: auto;
}

.main_units_list.single_unit .elem .powers h5 span.num,
.main_units_list.single_unit .elem .powers div.desc span.num {
	font-family: Norse;
	margin-right: 7px;
	font-size: 15px;
}

.main_units_list .elem .recruitment_buttons {
    
}

.main_units_list .elem .recruitment_buttons button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 5;
    border: none;
    background: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.8;
    color: #636363;
    font-family: 'icomoon';
    font-size: 20px;
}

.main_units_list .elem .recruitment_buttons button.details {
    left: auto;
    right: 5px;
}

.main_units_list .elem .recruitment_buttons button.recruit:after {
    content: "\ea0a";
}

.main_units_list .elem .recruitment_buttons button.details:after {
    content: "\e986";
}

.filters_container:after,
.filters_container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    background: url(../img/geom_r.png);
    -webkit-background-size: 15px;
    background-size: 15px;
    background-color: #9c4210;
}

.filters_container:after {
    top: auto;
    bottom: 0;
}

.filters_container {
    position: relative;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 30px;
    border: solid #3d2406;
    border-width: 1px 3px;
    margin-bottom: 10px;
    background: #3d2406;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.filters_container h3 {
    font-family: "Baar Sophia";
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
    color: #fafafa;
}

.filters_container .btn-group {
    margin-bottom: 5px;
}

.filters_container .btn-group button {
    font-family: "Norse";
    font-weight: bold;
    font-size: 16px;
    border: none;
    background: #9c4210;
    padding: 5px 12px;
    margin-right: 6px;
    margin-bottom: 6px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.filters_container .btn-group button.type {
    font-family: "Baar Sophia";
    font-size: 14px;
    font-weight: normal;
}

.filters_container .btn-group button.active {
    background: #ed8e1a;
    color: #3d2406;
}

.filters_container .list_filters {
    padding: 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.filters_container .list_filters.search {
    margin-bottom: 20px;
}

.filters_container .list_filters.search input {
    font-family: "Baar Sophia";
    padding: 0 10px;
    font-size: 14px;
    background: #9c4210;
    color: #fff;
    width: 100px;
    max-width: 90px;
    vertical-align: middle;
    line-height: 29px;
    height: 29px;
}

.filters_container .list_filters.search input::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.8;
}
.filters_container .list_filters.search input:-moz-placeholder {
    color: #fff;
    opacity: 0.8;
}
.filters_container .list_filters.search input::-moz-placeholder {
    color: #fff;
    opacity: 0.8;
}
.filters_container .list_filters.search input:-ms-input-placeholder {
    color: #fff;
    opacity: 0.8;
}

.filters_container .list_filters select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Baar Sophia";
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    border: none;
    background: #9c4210;
    margin-bottom: 15px;
}

.filters_container .list_filters select option {
    
}

.players_container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.players_container .player {
    display: -webkit-flex;
    display: flex;
    background: #3d2406;
    width: 50%;
    padding: 1px;
    border: solid 1px #9c4210;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.players_container .player.active {
    background-color: #9c4210;
    border: solid 1px #fff;
}

.players_container .player .ctn {
    color: #fff;
    font-family: "Baar Sophia";
    padding: 5px;
}

.players_container .player .ctn h2 {
    font-family: "Baar Sophia";
    color: #fff;
    margin: 0;
    font-size: 18px;
}

.players_container .player .ctn strong {
    font-weight: normal;
    font-size: 13px;
}

.players_container .player .ctn h3 {
    display: none;
    font-family: "Baar Sophia";
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.popup-container .popup,
.popup-container.active .popup {
    font-family: "Baar Sophia";
    background-color: #3d2406;
    color: #fff;
}

.popup-container .popup h5,
.popup-container .popup h3,
.popup-container.active .popup h5,
.popup-container.active .popup h3 {
    font-family: "Baar Sophia";
    color: #fff;
    font-size: 18px;
}

.popup-container .popup h5,
.popup-container.active .popup h5 {
    font-size: 15px;
}

.popup-container.active .popup .popup-head,
.popup-container .popup .popup-head {
    border: none!important;
}

.popup-container .popup button.button-default,
.popup-container.active .popup button.button-default {
    font-family: "Baar Sophia";
    background-color: #ed8e1a!important;
    color: #3d2406;
    border: none!important;
}

.popup-container .popup button.button-positive,
.popup-container.active .popup button.button-positive {
    font-family: "Baar Sophia";
    background-color: #9c4210!important;
}

.loader_container {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3d2406;
    z-index: 500;
}

.loader_container .loader_ctn {
    position: relative;
    top:50%;
    width: 260px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    margin-top: -150px;
}

.loader_container .loader_ctn h2 {
    font-family: "Adonais";
    color: #fff;
    margin: 0 0 15px 0;
}

.loader_container .loader_ctn img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.loader_container .loader_ctn strong {
    font-family: "Baar Sophia";
    color: #fff;
    font-size: 16px;
}

.randomizer_range {
    width: 100%;
    overflow: hidden;
}

.randomizer_range h3 {
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 10px;
    height: 18px;
    line-height: 18px;
    font-family: "Baar Sophia";
    font-size: 18px;
}

.randomizer_range input.info {
    display: inline-block;
    width: auto;
    max-width: 20px;
    margin: 0;
    background-color: transparent;
    font-family: "Baar Sophia";
    font-size: 18px;
    color: #fff;
    cursor: default;
    padding: 0;
    height: 18px;
    line-height: 18px;
    border: none;
}

.randomizer_range .item.range {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
}

.collection_blocker_container {
    display: block;
    position: absolute;
    padding: 120px 20px 0 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 500;
}

.game_summary {
    margin-bottom: 15px;
}

.game_summary .player_summary {
    background: #3d2406;
    overflow: hidden;
    margin-bottom: 5px;
    padding: 10px;
    position: relative;
    min-height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.game_summary .player_summary h2 {
    font-size: 21px;
    font-family: "Baar Sophia";
    color: #fff;
    cursor: pointer;
    padding-right: 130px;
    overflow: hidden;
}

.game_summary .player_summary h2:after {
    content: '\e986';
    font-family: "icomoon";
    font-size: 16px;
    margin-left: 10px;
}

.game_summary .player_summary h5 {
	color: #fff;
	font-size: 16px;
	font-family: "Baar Sophia";
	margin-top: 35px;
}

.game_summary .player_summary ul {
	margin-top: 10px;
}

.game_summary .player_summary ul li {
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
    cursor: pointer;
}

.game_summary .player_summary ul li .image {
    display: block;
    float: left;
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.game_summary .player_summary ul li .image img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.game_summary .player_summary ul li .info h3 {
    font-size: 16px;
    font-family: "Baar Sophia";
    color: #fff;
    margin: 0;
    margin-bottom: 3px;
}

.game_summary .player_summary ul li .info h3:after {
    content: '\e986';
    font-family: "icomoon";
    margin-left: 5px;
    font-size: 13px;
}

.game_summary .player_summary ul li .info .stats div {
    color: #fff;
    font-family: "Norse";
    float: left;
    font-size: 17px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
}

.game_summary .player_summary ul li .info .stats div:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.4);
}

.game_summary .player_summary ul li .info .stats div:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.6);
}

.game_summary .player_summary ul li .info .stats div:before {
    font-family: "icomoon";
    font-size: 13px;
    display: inline-block;
    margin-right: 5px;
}

.game_summary .player_summary ul li .info .stats div.attack:before {
    content: "\e905";
}
.game_summary .player_summary ul li .info .stats div.defense:before {
    content: "\e904";
}
.game_summary .player_summary ul li .info .stats div.ranged:before {
    content: "\e901";
}
.game_summary .player_summary ul li .info .stats div.movement:before {
    content: "\e902";
}
.game_summary .player_summary ul li .info .stats div.vitality:before {
    content: "\e9da";
}

.game_summary .player_summary ul li .info .stats.health_100 div {
    color: #708d30;
}
.game_summary .player_summary ul li .info .stats.health_90 div {
    color: #7a952e;
}
.game_summary .player_summary ul li .info .stats.health_80 div {
    color: #a7a538;
}
.game_summary .player_summary ul li .info .stats.health_70 div {
    color: #c5ab30;
}
.game_summary .player_summary ul li .info .stats.health_60 div {
    color: #d7b740;
}
.game_summary .player_summary ul li .info .stats.health_50 div {
    color: #d49b44;
}
.game_summary .player_summary ul li .info .stats.health_40 div {
    color: #d6922d;
}
.game_summary .player_summary ul li .info .stats.health_30 div {
    color: #cb7832;
}
.game_summary .player_summary ul li .info .stats.health_20 div {
    color: #b95f3d;
}
.game_summary .player_summary ul li .info .stats.health_10 div {
    color: #964831;
}
.game_summary .player_summary ul li .info .stats.health_0 div {
    color: #a43311;
}

.game_summary .player_summary ul li .info .stats div.defeated {
    color: #a43311;
}

.game_summary .player_summary ul li .info .stats div i {
    color: #ed8e1a!important;
}

.tools {
	margin-bottom: 15px;
}

.tools button {
	display: block;
	float: right;
    border: none;
    background: #32200a;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
    color: #fafafa;
    font-family: 'icomoon';
    font-size: 25px;
    vertical-align: middle;
}

.tools button.left {
	float: left;
	margin-left: 0;
	margin-right: 10px;
}

.tools button.unavailable {
	opacity: 0.5;
}

.tools button.save:before {
	content: "\e962";
}

.tools button.add_player:before {
	content: "\e973";
	font-size: 30px;
	line-height: 40px;
}

.tools button.trash:before {
	content: "\e9ac";
	font-size: 30px;
	line-height: 40px;
}

.tools .elem.own_everything {
	width: 200px;
	float: left;
	margin-bottom: 0;
}

.tools .elem.own_everything .set_name {
	padding-right: 15px;
}

.picked_omphalos_summary {
	display: block;
	position: absolute;
	right: 10px;
	top: 0;
	opacity: 0.9;
}

.picked_omphalos_summary h4 {
	font-family: Adonais;
	font-size: 15px;
	color: #fff;
	font-weight: normal;
	text-align: center;
}

.picked_omphalos_summary .omphalos_summary {
	
}

.picked_omphalos_summary .omphalos_summary strong.num {
	display: block;
	float: left;
	font-family: Norse;
	padding: 0;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
}

.picked_omphalos_summary .omphalos_summary span {
	display: block;
	cursor: pointer;
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.picked_omphalos_summary .omphalos_summary span.minus,
.picked_omphalos_summary .omphalos_summary span.plus {
	background: #fff;
	height: 30px;
	width: 30px;
	opacity: 0.9;
	text-align: center;
}

.picked_omphalos_summary .omphalos_summary span.plus:after,
.picked_omphalos_summary .omphalos_summary span.minus:after {
	font-family: icomoon;
	color: #32200a;
	font-size: 15px;
	line-height: 30px;
	vertical-align: middle;
}

.picked_omphalos_summary .omphalos_summary span.plus:after {
	content: "\ea0a";
}

.picked_omphalos_summary .omphalos_summary span.minus:after {
	content: "\ea0b";
}

.glossary .warning h3 {
	text-align: center;
}

.glossary .warning h3:before {
	content: '- ';
}
.glossary .warning h3:after {
	content: ' -';
}

.glossary .warning ul {
	margin-bottom: 30px;
}

.glossary .warning ul li {
	margin-bottom: 3px;
	text-align: center;
}

.glossary .warning ul li span {
	display: inline-block;
	width: 20px;
	text-align: center;
}

.glossary .warning .num {
	font-family: 'Norse';
	font-size: 16px;
}

.glossary .warning h4 {
	font-family: "Baar Sophia";
	font-size: 17px;
	color: #fff;
	font-weight: normal;
	margin-bottom: 5px;
	text-align: center;
}

.glossary .warning p {
	/* border: solid #fafafa;
	border-width: 0 0 1px 0; 
	padding-bottom: 10px;*/
	font-size: 14px;
	text-align: center;
	color: #ddd;
	margin-bottom: 10px;
	margin-top: 10px;
}

.glossary .gloss_elem {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.seed_picker {
	padding-top: 10px;	
}

.seed_picker h3 {
	float: left;
	width: auto;
	padding-right: 10px;
	height: 25px;
	line-height: 25px;
	text-transform: uppercase;
}

.seed_picker input {
	float: left;
	width: auto;
	height: 25px;
	text-align: center;
	width: 80px;
	font-size: 18px;
	margin-right: 10px;
}

.seed_picker .randseed_button {
	display: block;
	float: left;
	font-size: 20px;
	height: 25px;
	line-height: 25px;
}

.recruitable_units {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.temporary_units_list {
	padding-top: 10px;
}

.temporary_units_list .elem {
	display: block;
	width: 100%;
	margin-bottom: 5px;
	overflow: hidden;
	cursor: pointer;
	font-family: "Baar Sophia";
}

.temporary_units_list .elem .unit_name {
	font-size: 16px;
	float: left;
	height: 40px;
	line-height: 35px;
	vertical-align: middle;
}

.temporary_units_list .elem .image {
	float: left;
	width: 40px;
	margin-right: 15px;
}

.temporary_units_list .elem .image img {
	display: block;
}

.nemesis_mode {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.nemesis_mode h3 {
    font-size: 20px!important;
    font-family: "Baar Sophia";
    text-transform: uppercase;
    margin-bottom: 15px!important;
    border: solid #fff;
    border-width: 0 0 1px 0;
    display: block;
}

.nemesis_mode div {
    font-size: 16px; 
}

.nemesis_mode div b {
    font-weight: normal;
}

.nemesis_mode div i {
    font-weight: bold;
}










/*@media screen and (min-width:768px) { .platform-browser ion-content{ overflow-y: auto !important; } }*/



@media (min-width: 768px) {
    
    .row.unlimited-items .col{
        width: 50%;
    }
    
    .collection .set_name .image {
        width: 150px;
    }
    
    .wide_button {
        width: 330px;
    }
    
    .main_units_list .unlimited-items {
        /*display: flex;
        flex-wrap: wrap;*/
    }
    
    .main_units_list .unlimited-items .elem {
        width: 50%;
        float: left;
        /*display: flex;*/
        padding: 5px 5px;
    }
    
    .main_units_list .elem .image {
        width: 50%;
    }

    .main_units_list .elem .info {
        width: 50%;
    }
    
    .main_units_list .elem .stats div {
        margin-right: 3px;
    }
    
    .main_units_list .elem .talents ul {
        min-height: 60px;
        display: block;
    }
    
    .filters_container .list_filters {
        float: left;
        width: 33%;
    }
    
    .main_units_list.single_unit .elem {
        float: none;
        margin: 0 auto;
    }
    
    .main_units_list.minidashboard .unlimited-items .elem {
        float: none;
        margin: 0 auto;
    }
    
    .main_units_list.minidashboard .unlimited-items .elem,
    .main_units_list.single_unit .unlimited-items .elem {
        width: 90%;
    }
    
    .main_units_list.minidashboard .unlimited-items .elem .image,
    .main_units_list.single_unit .unlimited-items .elem .image {
        float: left;
        width: 50%;
    }
    
    .main_units_list.minidashboard .unlimited-items .elem .info,
    .main_units_list.single_unit .unlimited-items .elem .info {
        float: left;
        width: 50%;
    }
    
    .player_summary,
    .players_container,
    .collection .elem,
    .tools,
    .warning {
    	width: 600px;
    	margin-left: auto;
    	margin-right: auto;
    }
    
    .recruitable_units {
		width: 100%;
	}
    
    .temporary_units_list .elem {
    	float: left;
    	width: auto;
    	margin-right: 10px;
    }
    
    .temporary_units_list .elem .image {
		width: 40px;
	}
    
}

@media (min-width: 992px) {
    
    .main_units_list.minidashboard .unlimited-items {
        display: -webkit-flex;
        display:flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap; 
    }
    
    .main_units_list.minidashboard .unlimited-items .elem {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 50%;
    }
    
/*    .main_units_list.single_unit .unlimited-items .elem {
        width: 75%;
    }*/

    .main_units_list.single_unit .unlimited-items .elem {
        width: 90%;
    }

    .main_units_list.minidashboard .unlimited-items .elem .image,
    .main_units_list.single_unit .unlimited-items .elem .image {
        float: left;
        width: 30%;
    }
    
    .main_units_list.minidashboard .unlimited-items .elem .info,
    .main_units_list.single_unit .unlimited-items .elem .info {
        float: left;
        width: 70%;
    }

    .main_units_list.minidashboard .unlimited-items .elem .info .details,
    .main_units_list.single_unit .unlimited-items .elem .info .details {
        float: left;
        width: 60%;
    }

    .main_units_list.minidashboard .unlimited-items .elem .info .details2,
    .main_units_list.single_unit .unlimited-items .elem .info .details2 {
        float: left;
        width: 40%;
    }
    
    .temporary_units_list .elem .image {
		width: 40px;
	}
    
}

@media (min-width: 1170px) {
    
    .main_units_list .unlimited-items .elem {
        width: 33.333333333333333333%;
    }
    
    .main_units_list.single_unit .unlimited-items .elem {
        width: 80%;
    }
    
    .temporary_units_list .elem .image {
		width: 40px;
	}
    
}

@media (min-width: 1480px) {
    
    .main_units_list .unlimited-items .elem {
        width: 25%;
    }
    
    .main_units_list.single_unit .unlimited-items .elem {
        width: 80%;
    }
    
    .temporary_units_list .elem .image {
		width: 40px;
	}
    
}



